{% extends "base.html" %}

{% block content %}

<form class="form-horizontal" id="payment-form">

    <div class="row">
        <div class="col-md-4 col-md-offset-8">
            <button id="save" class="btn btn-success pull-right" disabled="disabled" style="margin-bottom: 20px">Save</button>
            <span id="last_saved" class="pull-right" style="padding-right: 30px">Not saved</span>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            {% autoescape off %}
            {{ form_context.render_field_group("basic_info") }}
            {% endautoescape %}
        </div>
        <div class="col-md-6">
            <div class="row"><div class="col-md-12">
            <div id="expenses_list">
                <div id="expenses_0" style="padding-bottom: 10px">
                    {% autoescape off %}
                    {{ form_context.render_field_group("expenses") }}
                    {% endautoescape %}
                    <button class="btn btn-danger pull-right remove-expenses" style="display: none">Remove</button>
                    <div class="clearfix"></div>
                </div>
            </div>
            <button id="add_expenses" class="btn btn-info pull-right" style="margin-bottom: 20px">Add More Expenses</button>
            </div></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div style="margin: 30px">
                {% autoescape off %}
                {{ form_context.render_field_group("total") }}
                {% endautoescape %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="row"><div class="col-md-12">
            <div id="shares_list">
                <div id="shares_0" style="padding-bottom: 10px">
                    {% autoescape off %}
                    {{ form_context.render_field_group("shares") }}
                    {% endautoescape %}
                    <button class="btn btn-danger pull-right remove-shares" style="display: none">Remove</button>
                    <div class="clearfix"></div>
                </div>
            </div>
            <button id="add_shares" class="btn btn-info pull-right" style="margin-bottom: 20px">Add More Shares</button>
            </div></div>
        </div>
        <div class="col-md-6">
            <div class="row"><div class="col-md-12">
            <div id="central_list">
                <div id="central_0" style="padding-bottom: 10px">
                    {% autoescape off %}
                    {{ form_context.render_field_group("central") }}
                    {% endautoescape %}
                    <button class="btn btn-danger pull-right remove-central" style="display: none">Remove</button>
                    <div class="clearfix"></div>
                </div>
            </div>
            <button id="add_central" class="btn btn-info pull-right" style="margin-bottom: 20px">Add More Central Costs</button>
            </div></div>
        </div>
    </div>
</form>

{% endblock %}

{% block extra_js_bottom %}

{% if payment_id %}
<script type="text/javascript">
var edit_id = "{{payment_id}}";
</script>
{% endif %}

<script type="text/javascript">



$(document).ready(function() {

    octopus.page = {};

    function cycleForm() {
        octopus.page.data = octopus.forms.form2obj({
            form_selector: "#payment-form",
            form_data_object: octopus.service.newPayment()
        });
        if (octopus.page.payment_id) {
            octopus.page.data.set_field("id", octopus.page.payment_id)
        }

        octopus.service.calculate(octopus.page.data);

        writeForm();
    }

    function writeForm() {
        octopus.forms.obj2form({
            form_selector: "#payment-form",
            form_data_object: octopus.page.data
        });
    }

    function destroyParsley() {
        if (octopus.page.payment_form) {
            octopus.page.payment_form.destroy();
        }
    }

    function updateTime() {
        $("#last_saved").html("Last saved " + octopus.page.last_saved.fromNow());
    }

    function timedUpdate () {
        updateTime();
        setTimeout(timedUpdate, 1000);
    }

    function bounceParsley() {
        destroyParsley();
        octopus.page.payment_form = $("#payment-form").parsley();

        $("#payment-form").find(":input").bind("blur", function() {
            var pform = octopus.page.payment_form;
            var id = $(this).attr("id");
            var valid = false;
            for (var i = 0; i < pform.fields.length; i++) {
                if (pform.fields[i]["$element"].attr("id") == id) {
                    var field = pform.fields[i];
                    valid = field.validate();
                }
            }

            var group_valid = octopus.page.payment_form.isValid("calculate");

            if ((valid === true || valid.length === 0) && group_valid) {
                cycleForm();
            }

            if (octopus.page.payment_form.isValid()) {
                $("#save").removeAttr("disabled");
            } else {
                $("#save").attr("disabled", "disabled");
            }
        });
    }

    octopus.forms.bindRepeatable({
        button_selector : "#add_expenses",
        list_selector: "#expenses_list",
        entry_prefix: "expenses",
        enable_remove: true,
        remove_selector: ".remove-expenses",
        before_callback: destroyParsley,
        more_callback: bounceParsley,
        remove_callback: bounceParsley
    });

    octopus.forms.bindRepeatable({
        button_selector : "#add_shares",
        list_selector: "#shares_list",
        entry_prefix: "shares",
        enable_remove: true,
        remove_selector: ".remove-shares",
        before_callback: destroyParsley,
        more_callback: bounceParsley,
        remove_callback: bounceParsley
    });

    octopus.forms.bindRepeatable({
        button_selector : "#add_central",
        list_selector: "#central_list",
        entry_prefix: "central",
        enable_remove: true,
        remove_selector: ".remove-central",
        before_callback: destroyParsley,
        more_callback: bounceParsley,
        remove_callback: bounceParsley
    });

    $("#save").click(function(event) {
        event.preventDefault();

        // first ensure that we have the latest form data
        cycleForm();

        function onSuccess(data) {
            octopus.page.payment_id = data.id;
            octopus.page.last_saved = moment();
            updateTime();
            if (!octopus.page.timedUpdates) {
                timedUpdate();
                octopus.page.timedUpdates = true;
            }
            cycleForm();
        }

        function onError(data) {
            alert("There was an error saving the record");
        }

        // now issue a create request on the CRUD API
        if (!octopus.page.payment_id) {
            octopus.crud.create({
                dataobj : octopus.page.data,
                objtype: "payment",
                success : onSuccess,
                complete : function() {},
                error : onError
            })
        } else {
            octopus.crud.update({
                id : octopus.page.payment_id,
                dataobj: octopus.page.data,
                objtype: "payment",
                success : onSuccess,
                complete : function() {},
                error : onError
            })
        }

    });

    function onLoad(data) {
        octopus.page.data = octopus.service.newPayment({raw : data});
        octopus.page.last_saved = moment(octopus.page.data.get_field("last_updated"));
        writeForm();
        timedUpdate();
        octopus.page.timedUpdates = true;
    }

    function onLoadError(data) {
        alert("Error loading record")
    }

    if (edit_id) {
        octopus.page.payment_id = edit_id;
        octopus.crud.retrieve({
            id : octopus.page.payment_id,
            objtype : "payment",
            success : onLoad,
            complete : function() {},
            error : onLoadError
        })
    }

    bounceParsley();

})
</script>
{% endblock %}