{% extends "base.html" %}

{% block content %}

<form class="form-horizontal">
    <div class="row">
        <div class="col-md-6">
            {% autoescape off %}
            {{ form_context.render_field_group("basic_info") }}
            {% endautoescape %}
        </div>
        <div class="col-md-6">
            <div class="row"><div class="col-md-12">
            <div id="expenses_list">
                <div id="expenses_0" style="padding-bottom: 10px">
                    {% autoescape off %}
                    {{ form_context.render_field_group("expenses") }}
                    {% endautoescape %}
                    <button class="btn btn-danger pull-right remove-expenses" style="display: none">Remove</button>
                    <div class="clearfix"></div>
                </div>
            </div>
            <button id="add_expenses" class="btn btn-info pull-right" style="margin-bottom: 20px">Add More Expenses</button>
            </div></div>


        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div style="margin: 30px">
                {% autoescape off %}
                {{ form_context.render_field_group("total") }}
                {% endautoescape %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="row"><div class="col-md-12">
            <div id="shares_list">
                <div id="shares_0" style="padding-bottom: 10px">
                    {% autoescape off %}
                    {{ form_context.render_field_group("shares") }}
                    {% endautoescape %}
                    <button class="btn btn-danger pull-right remove-shares" style="display: none">Remove</button>
                    <div class="clearfix"></div>
                </div>
            </div>
            <button id="add_shares" class="btn btn-info pull-right" style="margin-bottom: 20px">Add More Shares</button>
            </div></div>
        </div>
        <div class="col-md-6">
            <div class="row"><div class="col-md-12">
            <div id="central_list">
                <div id="central_0" style="padding-bottom: 10px">
                    {% autoescape off %}
                    {{ form_context.render_field_group("central") }}
                    {% endautoescape %}
                    <button class="btn btn-danger pull-right remove-central" style="display: none">Remove</button>
                    <div class="clearfix"></div>
                </div>
            </div>
            <button id="add_central" class="btn btn-info pull-right" style="margin-bottom: 20px">Add More Central Costs</button>
            </div></div>
        </div>
    </div>
</form>

{% endblock %}

{% block extra_js_bottom %}
<script type="text/javascript">
$(document).ready(function() {

    octopus.forms.bindRepeatable({
        button_selector : "#add_expenses",
        list_selector: "#expenses_list",
        entry_prefix: "expenses",
        enable_remove: true,
        remove_selector: ".remove-expenses"
    });

    octopus.forms.bindRepeatable({
        button_selector : "#add_shares",
        list_selector: "#shares_list",
        entry_prefix: "shares",
        enable_remove: true,
        remove_selector: ".remove-shares"
    });

    octopus.forms.bindRepeatable({
        button_selector : "#add_central",
        list_selector: "#central_list",
        entry_prefix: "central",
        enable_remove: true,
        remove_selector: ".remove-central"
    });

})
</script>
{% endblock %}